.App {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, orange, lime);
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
    font-weight: bolder;
}
