.container {
    display: flex;
    align-items: flex-end;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0, 1) 0);
}

.forImage {
    justify-content: flex-end;
}

.forImage img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.blackbox {
    background-color: black;
    border-radius: 10px 10px 10px 0;
    padding: 15px;
}

.name {
    color: blueviolet;
}

.message {
    color: white;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: green;
}