.container {
 display: flex;
 margin: 5px;
}

.container button {
 background: red;
}

.signs {
 width: 200px;
 display: flex;
 justify-content: space-between;
 margin-left: 5px;
 font-size: 18px;
 font-weight: bold;
}
